%h5.mb-3 公開情報
%table.table.table-bordered
  %tbody
    %tr.text-center
      %th ユーザー名
      %td
        - if user.profile.present?
          = user.profile.nickname
    %tr.text-center
      %th プロフィール
      %td
        - if user.profile.present?
          = user.profile.introduction
    %tr.text-center
      %th ブログURL
      %td
        - if user.profile.present?
          = user.profile.blogurl