.container
  .card.mb-3
    .card-body
      %p
        = @post.content
      %p
        = @post.display_created_at

  .d-flex.justify-content-end
    = link_to edit_post_path(@post) do
      .btn.btn-primary.me-3
        %div 編集
    = link_to post_path(@post), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } do
      .btn.btn-danger
        %div 削除